/* Global */

* { box-sizing: border-box; }
body {
    background-color: black;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
h1, h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    text-align: center;
}
p { font: normal normal normal 18px/24px Lato; }

/* End Global */

.case-bl h4 { font: normal normal bold 18px/24px Lato; }
.wrapper {
    width: 90vw;
    min-height: inherit;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
ul {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-padding-start: 40px;
    padding-inline-start: 0px;
}
a { text-decoration: none; }
#title a{
    color: white;
    font: normal normal normal 16px/33px Lato;
}

.sec-a-3-b .item-ap-k p {
    font: normal normal normal 18px/32px Segoe UI;
    letter-spacing: 0px;
    color: #A4A4A4;
    max-width: 73%;
}
.bl-7w .f-m-ul.f-m-ul:nth-child(6) { border-bottom: 1px solid rgb(255 255 255 / 20%) !important; }
.content {
    display: flex;
    flex-direction: column;
}
section {
    width: 100%;
    min-height: calc(100vh - 45px);
    padding-top: 45px;
    padding-bottom: 45px;
}

.bl-7w { width:70%; }
.flex-row { flex-direction: row; }
.bl-3w { width:30% }
.service img {
    width: 80%;
    max-width: 100%;
    max-height: 240px;
    margin-left: auto;
    margin-right: auto;
}
.service img {
    margin-top: auto!important;
}
.sec-a-3-b h3:before {
    content: '';
    display: block;
    width: 80px;
    height: 120px;
    background: url(../view/images/svg/Check.svg) no-repeat;
    background-position: center;
    background-size: 100%;
}
#title h1 {
    font: normal normal bold 72px/85px Lato;
    color: #fff;
    text-align: center;
}
p.desktop { justify-content: center; }
.text-border {
    font: normal normal bold 72px/96px Lato;
    letter-spacing: 0px;
    color: #FFFFFF;
    -webkit-text-stroke: 1px #707070;
    margin-block-start: 0em;
}
#title p {
    font: normal normal normal 30px/50px Lato;
    text-align: center;
    line-height: 39px;
    color: #fff;
}
.but-as {font: normal normal bold 16px/33px Lato!important;}
.red { color: #f6583e; }
.red-b { background-color: #f6583e; }
.flex-block .h4, .flex-block p {
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
    padding-left: 10%;
    color: #211260;
}
section h3 { -webkit-margin-before: 0.1em; }
.block-3c {
    width: 33.3333%;
    display: flex;
    position: relative;
}
.block-2c {
    width: 50%;
    display: flex;
    position: relative;
}
.flex { display: flex; }
.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 45px;
}
.project a { color: black; }
form input.text, form textarea {
    border: 2px solid #BFBFBF;
    border-radius: 10px;
    width: 100%;
    max-width: 394px;
    background: #211260;
    color: #BFBFBF;
    padding: 14px 18px;
    font: normal normal normal 18px/24px Lato;
    margin-bottom: 20px;
}
.column {
    flex-wrap: wrap;
    flex-direction: column;
}
.title-cs {
    font: normal normal bold 24px/32px Lato;
    padding: 20px 22px;
    color: #fff;
    z-index: 10;
    position: absolute;
    line-height: 1em;
}
.bag-cs {
    position: absolute;
    background: rgb(0 0 0 / 40%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.img-d {
    border: 3px solid rgb(49 98 168 / 14%);
    width: fit-content;
    min-height: 122px;
    display: flex;
    padding: 23px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.bag-cs:hover { background: rgb(0 0 0 / 20%); }
.title-case {
    color: #41d15f;
    text-align: left;
    text-decoration: underline;
    font: normal normal bold 36px/48px Lato;
}
.title-case-2 {
    font-size: 26px;
    color: white;
}
.case-bl {
    width: 57%;
    padding: 45px 0px;
    margin: auto;
    color: white;
    font-size: 14px;
    text-align: left;
}
.mob { display:none; }
.desktop {
    display:flex;
    flex-wrap: wrap;
}
.submit-b {
    margin: 0 auto;
    border: 0px;
    padding: 8px 10px;
    font: normal normal bold 16px/33px Lato!important;
    width: 193px;
    line-height: 32px;
    color: white;
    letter-spacing: 0.02em;
    text-align: center;
    border-radius: 0px 10px 10px 10px;
    background-color: #f6583e;
}
.italic { font-style: italic; }
.riema>div>div { padding:15px; }
.riema>div>div>div>div {
    background-position: bottom left;
    background-repeat: no-repeat;
    padding: 13% 23%;
}
.flex-block {
    display: flex;
    align-content: center;
    align-items: center;
}
.flex-block h4, .flex-block p {
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
    padding-left: 10%;
    color: #211260;
}
.flex-block h4 {
    font: normal normal bold 18px/24px Lato;
    letter-spacing: 0px;
}
#technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: inherit;
}
.img {
    width: 250px;
    height: 250px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin: 10px auto;
}
.slide {
    text-align: center;
    max-width: 600px;
    min-height: 500px;
}
.slide a {
    color: black;
    text-decoration: none;
}
.slide p {
    max-width: 580px;
    margin: 10px auto;
}
h6 {
    margin: 20px;
    font-size: 1.5em;
}
button::-moz-focus-inner { border: 0; }
.border {
    border: 1px solid white;
    padding: 10px 20px;
    margin-top: 10px;
}
.sec-a-3-b {
    background: url(../view/images/svg/BG%20round_Desktop.svg) no-repeat;
    background-position: bottom left;
    background-size: 96% 115%;
    background-color: rgb(20 20 20 / 87%);
    min-height: 100vh;
    padding-top: 45px;
    padding-bottom: 45px;
    color: white;
    display: flex;
    flex-direction: row;
}
@media (min-width: 1025px) and (max-width: 1720px) {
	.sec-a-3-b {
        background: url(../view/images/svg/BG%20round_Desktop.svg) no-repeat!important;
        background-color: rgb(20 20 20 / 87%) !important;
        background-position: top left !important;
        background-size: contain !important;
    }
}
@media (min-width: 1925px) {
    .case-bl { width: 80%; }
}
@media (min-width: 1825px) {
    .flex-block p { min-width: 400px; }
}
@media (min-width: 1725px) {
    .case-bl {
        width: 80%;
        padding: 0px 0px;
    }
}
@media (min-width: 2465px) {
    .service img {
        width: 80%;
        max-width: 400px;
        max-height: 500px;
    }
    .service { padding-top: 11vh; }
}

@media (max-width: 1725px) {
    .service img {
        max-height: 325px;
    }
    .case-bl {
        width: 84%;
        padding: 15px 0px;
        overflow: auto;
    }
}
@media (max-width: 1575px) {
    body .accordion { font: normal normal bold 27px /40px Lato; }
    body .accordion:before {
        width: 18px;
        height: 34px;
    }
}
@media (min-width: 1024px) and (max-width: 1500px) {
    .sec-a-3-b {
        background: url(../view/images/svg/BG%20round_Desktop.svg);
        background-position: top center;
        background-size: 124% 52%;
    }
    #title p { font: normal normal normal 17px /26px Lato !important; }
    h2.title { font: normal normal bold 35px /43px Lato !important; }
    .sec-a-3-b p.main-p { font: normal normal 600 18px /26px Lato !important; }
    p { font: normal normal normal 14px /20px Lato !important; }
}
@media (max-width: 1400px) {
    p { font: normal normal normal 13px/20px Lato; }
    .title-case-2 {
        font-size: 25px;
        margin-block-end: 0.1em;
    }
    .case-bl h4 {
        font: normal normal bold 16px/20px Lato;
        margin-block-start: 0.33em;
        margin-block-end: 0;
    }
    .title-case { font: normal normal bold 32px/33px Lato; }
    #title h1 { font: normal normal bold 41px/52px Lato; }
}
@media (min-width: 2170px) {
    form input.text { max-width: 100%; }
}
@media (max-width: 1220px) {
    .case-bl {
        max-height: 500px;
        overflow: auto;
    }
    form input.text {
        padding: 4px 12px;
        margin-bottom: 25px;
    }
}
@media (max-width: 1120px) {
    .case-bl {
        max-height: 550px;
        overflow: auto;
    }
}
@media (max-width: 1050px) {
    .case-bl {
        max-height: 500px;
    }
}
@media (min-width: 970px) {
    .im2 {
        width: 72%;
        margin-left: 10% !important;
    }
}
@media (max-width: 970px) {
    .sec-a-3-b .item-ap-k p { max-width: 90%; }
    body .accordion {
        font: normal normal 600 22px /30px Lato;
        padding: 18px 40px 18px 20px;
    }
        body .accordion:before {
            width: 12px;
            height: 22px;
            margin-right: 18px;
            top: 33px;
        }
    body .accordion-box p {
        font: normal normal normal 14px /24px Lato;
        padding: 0 12px;
        padding-bottom: 20px;
    }
    .sec-a-3-b {
        background: url(../view/images/svg/BG%20round_Desktop.svg) no-repeat;
        background-position: top right;
        background-size: 371% 31% !important;
    }
    .case-bl .title-case-2 { display: none; }
    .title-case-2 {
        text-align: center;
        margin-block-start: 1.0em;
        margin-block-end: 1.1em;
        font: normal normal bold 35px/38px Lato;
    }
    .case-bl img { display: none; }
    .riema > div > div > div > div:after {
        top: 6%;
        left: 10%;
    }
    .flex-block { flex-wrap: wrap; }
    .sticky-vh-t {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }

    .flex-block h4, .flex-block p { padding-left: 0%; }
    .bl-3w, .block-2c, .bl-7w, .block-3c { width: 100%; }
    .flex { flex-wrap: wrap; }
    .mob {
        display: flex;
        flex-flow: column;
        width: 100%;
    }
    .active.desktop { display: none !important; }
    .flex-row { flex-direction: column; }
    form textarea { min-height: 153px!important; }
    form input.text {
        max-width: initial;
        padding: 14px 18px;
        font: normal normal normal 18px/24px Lato;
        margin-bottom: 33px;
    }
    .submit-b {
        width: 100%;
        font: normal normal bold 24px/32px Lato !important;
        padding: 13px 10px;
    }
    ul {
        margin: 0 0 0 40px;
        padding: 0;
    }
    .wrapper { width: 96vw; }
    body { overflow: auto; }
    .no_overflow {
        height: 100vh;
        overflow: hidden;
        z-index: 0;
    }
}
.riema button:nth-child(3):before {
    content: '';
    display: block;
    width: 30px;
    margin-left: 39%;
    height: 57px;
    background: url(../view/images/svg/Arrow.svg) no-repeat;
    background-position: center;
    background-size: 100%;
}
@media (max-width: 768px) {
    .img-android {
        height: auto !important;
        width: 385% !important;
        margin-left: -103% !important;
    }
    .img-iphone {
        margin-top: -43vw !important;
        height: auto !important;
        width: 385% !important;
        margin-left: -117%;
    }
    #services .block-3c { margin-bottom: 50px; }
    #services, .sec-a-3-b .wrapper { flex-direction: column !important; }
    .block-3c { margin-bottom: 0px; }
    .sec-a-3-b .block-2c { padding: 25px; }
    .sec-a-3-b h2 { font: normal normal bold 46px/54px Lato !important; }
    .sec-a-3-b p.main-p { font: normal normal 600 20px/30px Lato !important; }
}
@media (max-width: 739px) {
    .flex-block { flex-wrap: wrap; }
    #title {
        max-width: 400px;
        margin: initial;
    }
    #title h1 {
        font-size: 36px;
        line-height: 52px;
    }
    #title h1:after {
        top: 140px;
    }
    #title p {
        margin: 15px auto;
        font-size: 18px;
        max-width: 300px;
    }
    h1, h2 { text-align: center; }
    .slide p { max-width: 300px; }
}
@media (min-width: 1139px) and (max-width: 1459px) {
    .riema button:nth-child(3) {
        width: 114px !important;
        top: 13px !important;
        bottom: 70px !important;
        right: 150px !important;
    }
    .riema button:nth-child(2) {
        top: 13px !important;
        bottom: 70px !important;
    }
}
@media (min-width: 768px) and (max-width: 1139px) {
    .riema button:nth-child(3) { display: none !important; }
}
